/* .row {
    max-width: 30%;
    float: left;
}
.row2 {
    max-width: 30%;
    float: left;
}
.row3 {
    max-width: 30%;
    float: left;
}
.row4 {
    max-width: 30%;
    float: left;
}

.button1 {
    position: fixed;
    bottom: 0;
    left: 0;
} */